<!DOCTYPE html>
<html lang="es" ng-app='kanbanApp'>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
    <script src="app.js"></script>
    <title>Document</title>
</head>

<body>
    <h1>Kanban Board</h1>
    <div ng-controller='kanbanListController as todoCtrl'>
        <form ng-submit="todoCtrl.addTodo()">
            <h3>Ingresa tu tarea pendiente</h3>
            <input type="text" ng-model="todoCtrl.newTodo" placeholder="Titulo de la tarea">
            <input type="text" ng-model="todoCtrl.newTodoDesc" placeholder="Descripcion de la tarea">
            <input type="submit" value="Guardar">
        </form>

        <h2>TODO</h2>
        <ul>
            <li ng-repeat="todoElement in todoCtrl.kanbanList | filter : {paso : 1}">
                <span>{{todoElement.titulo}}</span>
                <p>{{todoElement.desc}}</p> <input type="submit" value="-->" ng-click="todoCtrl.mover(todoElement, 2)">
            </li>
        </ul>
        <h2>DOING</h2>
        <ul>
            <li ng-repeat="todoElement in todoCtrl.kanbanList | filter : {paso : 2}">
                <span>{{todoElement.titulo}}</span>
                <p>{{todoElement.desc}}</p>
                <input type="submit" value="<--" ng-click="todoCtrl.mover(todoElement, 1)">
                <input type="submit" value="-->" ng-click="todoCtrl.mover(todoElement, 3)">
            </li>
        </ul>
        <h2>DONE</h2>
        <ul>
            <li ng-repeat="todoElement in todoCtrl.kanbanList | filter : {paso : 3}">
                <span>{{todoElement.titulo}}</span>
                <p>{{todoElement.desc}}</p>
            </li>
        </ul>
        <p>{{todoCtrl.kanbanList}}</p>
    </div>
</body>

</html>